html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #e7ebf0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.inbox {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 80%;
  border: 4px solid #eaeaea;
  border-radius: 12px;
  overflow: hidden;
}

.inbox__people {
  padding: 4px 20px;
  box-sizing: border-box;
  max-width: 300px;
  height: 100%;
  flex-grow: 1;
  overflow: auto;
  background-color: #fff;
  border-right: 4px solid #e7ebf0;
}

.inbox__people__title {
  padding-bottom: 20px;
  border-bottom: 3px solid #5682a3;
}

.chat_ib {
  color: #5682a3;
}

.message_form {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 32px;
  display: flex;
  border-top: 4px solid #e7ebf0;
  position: relative;
}

.fallback {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 8px;
  left: 20px;
  font-size: small;
  color: #333;
}

.fallback p {
  margin: 0;
}

.message_form__input {
  width: 100%;
  flex-grow: 1;
  margin-right: 8px;
  font-size: medium;
  padding: 8px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

.message_form__input:focus {
  outline-color: #5682a3;
}

.message_form__button {
  width: 80px;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  background-color: #5682a3;
  border: 1px solid #5682a3;
}

.message_form__button:focus {
  outline: 0;
}

.inbox__messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: #fff;
}

.messages__history {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

.sent__message p,
.received__message p {
  margin: 0;
}

.outgoing__message,
.incoming__message {
  max-width: 380px;
  min-width: 180px;
  margin-bottom: 8px;
  width: fit-content;
}

.outgoing__message {
  margin-left: auto;
}

.incoming__message {
  margin-right: auto;
}

.sent__message p,
.received__message p {
  padding: 12px;
  border-radius: 8px;
}

.sent__message p {
  color: #fff;
  background-color: #5682a3;
}

.received__message p {
  color: #222;
  background-color: #e7ebf0;
}

.message__info {
  display: flex;
  color: #333;
  font-size: small;
  margin: 0 8px;
  margin-top: 2px;
}

.sent__message .message__info {
  justify-content: flex-end;
}

.received__message .message__info {
  justify-content: space-between;
}
